body {
  font-family: Helvetica;
}

header {
  background-image: url("images/pattern.jpeg");
  text-align: center;
}

header p {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

.header {
  font-size: 32px;
  color: white;
}

.Brushes .header {
  background-color: mediumspringgreen;
}